.talk__inner {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
  color: #444444;
}

.talk__inner:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  color: #444444;
}
.talk__inner p {
  margin: 0;
  color: #444444;
  padding: 0;
}
.talk .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.faceicon img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.talk {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  color: #444444;
}
.talk .faceicon img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.talk__inner#text {
  color: #444444;
}
